<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Foodata API</title>
    <link async href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/main")
</head>
<body>


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../">Foodata WEB API</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">CRUD<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("CREATE", "Create", "Home", new { area = "" }, new { @class = "hint--right", data_hint = "Do a POST request and create a new food item" })</li>
                            <li><a href="/api/Food/" class="hint--right" data-hint="Do a GET request and return all data (XML)">READ</a></li>
                            <li>@Html.ActionLink("UPDATE", "Update", "Home", new { area = "" }, new { @class = "hint--right", data_hint = "Do a PUT request and update an existing item" })</li>
                            <li>@Html.ActionLink("DELETE", "Delete", "Home", new { area = "" }, new { @class = "hint--right", data_hint = "Do a DELETE request and delete an item" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
